* {
    box-sizing: border-box;
  }

  body {
    /* background: url("../images/primary_colors_bgnd.png");
    background-repeat: no-repeat;
    background-position: bottom; */
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:blue;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    color:blue;
  }

header {
  margin: 0 auto;
  background: lightskyblue;
  padding-top:25px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 2px solid blue ridge;

}
header h1{
  text-shadow: rgb(244, 247, 92) 1px 1px;
  font-weight: bold;
}

#welcome {
  font-size: 24px;
  color:#fff;
}

.container{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left:0;
  margin: 0 auto;
}

#instructions{
  margin-right:25px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right:10px;
  font-size: 16px;
  color: black;
  background: rgb(190, 240, 183);
  float: left;
  overflow: visible;
  line-height: 1.75em;
}

#random {
  padding-top:10px;
  background: rgb(240, 161, 142);
  padding:5px 60px;
  font-size: 40px;
  color: blue;
}

#score {
  padding-top:10px;
  background: rgb(190, 240, 183);
  padding:5px 60px;
  font-size: 40px;
}

 .image {
  display: inline;
  width: 100px;
  height: auto;
  padding:10px 10px;
  }

  #crystals{
    padding-top:30px;
    padding-bottom: 30px;
  }

  #won{
    padding-top:35px;
    font-size: 20px;
    font-weight: bolder;
    color:green;
  }

  #lost{
    padding-top:35px;
    font-size: 20px;
    font-weight: bolder;
    color: red;
  }

footer {
  padding:25px 25px;
  margin: 0 auto;
  background: lightskyblue;
  border-top: 2px solid blue ridge;
}

#copyright{
display: inline;
font-size: 14px;

}
