* {
    box-sizing: border-box;
  }

  body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: url("../images/primary_colors_bgnd.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
  }

header {
  margin: 0 auto;
  background: lightskyblue;
  padding-top:25px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 2px solid #0077f7 ridge;

}
header h1{
  text-shadow: rgb(244, 247, 92) 1px 1px;
  font-weight: bold;
  color:#0077f7;
}

#welcome {
  font-size: 24px;
  color:#fff;
}

.container{
  padding-top: 25px;
  padding-bottom: 25px;
  /* padding-left:0; */
  margin: 0 auto;
}
#game {
  color:#0077f7;
}
#game h3 {
  color: white;
}
#instructions{
  color: #0077f7;
  line-height: 1.75em;
}
#instructions .caution{
  color:red;
  font-weight: bold;
}
#instructions > h1, h2, h3, h4, h5, h6 {
  color: #0077f7;
}

#random {
  padding:3px 40px;
  font-size: 40px;
  color: #0077f7;
  border: solid 1px red;
}

#score {
  background: lightblue;
  padding:3px 40px;
  font-size: 40px;
  border: solid 1px #0077f7;
}

 .image {
  display: inline;
  width: 100px;
  height: auto;
  padding:10px 10px;
  }

  #crystals{
    padding-top:30px;
    padding-bottom: 30px;
  }

  #won{
    padding-top:40px;
    font-size: 22px;
    font-weight: bolder;
    color:green;
  }

  #lost{
    padding-top:40px;
    font-size: 22px;
    font-weight: bolder;
    color: red;
  }

footer {
  padding:25px 25px;
  margin: 0 auto;
  background: lightskyblue;
  border-top: 2px solid #0077f7 ridge;
}

#copyright{
display: inline;
text-align: center;
color: #0077f7;
}
